<launch>
	<!-- Robot URDF -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kobuki_description)/urdf/kobuki.urdf.xacro'" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sick_tim)/urdf/example.urdf.xacro'" />
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->
</launch>
