<!-- All nodes except real hw / gazebo -->
<launch>
	<include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
		<arg name="nodelet_manager_name" value="mobile_base_nodelet_manager" />
		<arg name="config_file" value="$(find fortnight)/param/yocs_cmd_vel_mux.yaml" />
	</include>
	<!--
	<include file="$(find fortnight)/launch/kobuki_safety_controller.launch">
		<arg name="nodelet_manager_name" value="mobile_base_nodelet_manager" />
	</include>
	-->
	<include file="$(find turtlebot_teleop)/launch/logitech.launch" />
	<include file="$(find fortnight)/launch/minimal.launch" />
	<include file="$(find fortnight)/launch/sick.launch" />
</launch>
