<launch>
	<node pkg="fortnight" type="grabber" name="grabber" output="screen"> <!-- name: topic name, type: binary name, pkg: package name -->
                <rosparam>
                        device:              "/dev/arduino"
                        alternative_device1: "/dev/arduino0"
                        alternative_device2: "/dev/arduino1"
                </rosparam>
	</node>
</launch>
