<launch>
	<!-- Real robot hw -->
	<include file="$(find kobuki_node)/launch/minimal.launch" />
	<include file="$(find fortnight)/launch/external/sick_tim571_2050001.launch" />

	<include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
		<arg name="nodelet_manager_name" value="mobile_base_nodelet_manager" />
		<arg name="config_file" value="$(find fortnight)/param/yocs_cmd_vel_mux.yaml" />
	</include>

	<!-- URDF -->
	<include file="$(find fortnight)/launch/includes/urdf.launch" />
</launch>
