<launch>
	<node pkg="fortnight" type="twitter" name="twitter" output="screen"> <!-- name: topic name, type: binary name, pkg: package name -->
		<remap from="twitter/input/odom" to="/odom" />
		<remap from="twitter/input/scan" to="/scan" />

		<remap from="twitter/input/grabber_at_home" to="/grabber/output/at_home" />
		<remap from="twitter/output/grabber_action" to="/grabber/input/action" />
		<remap from="twitter/output/cmd_vel" to="cmd_vel_mux/input/twitter" />
                <rosparam>
                        transporter_polygon: [
                              1, 2.5,
                              2, 4,
                              3, 4,
                              3, 2.5,
                              2, 1,
                              1, 0.5,
                             -1, 0.5,
                             -2, 1,
                             -3, 2.5,
                             -3, 3,
                             -2, 3,
                             -1, 2.5
                        ]
                        transporter_radius: 0.1755

                        detect_avg_size:             20
                        detect_avg_distance:          20
                        detect_history_max_duration: 1.7

                        minimal_transporter_speed: 0.05
                        use_fixed_angular_speed:   false
                        transporter_angular_speed: -0.2

                        speed_avg_size: 10

                        max_ang_speed:          1.3
                        min_ang_speed:          0.13
                        control_yaw_speed_coef: 2
                        manipulation_angle:     0.08

                        x_offset: 0
                        y_offset: -0.36
                        y_offset_leaving: -0.7

                        x_error_to_x_speed_coef:     2
                        x_error_to_yaw_speed_coef:   5
                        y_error_to_x_speed_coef:     0
                        y_error_to_yaw_speed_coef:   4
                        yaw_error_to_x_speed_coef:   0
                        yaw_error_to_yaw_speed_coef: 2
                        max_xy_error_yaw_mod:        10

                        allowed_locked_error:         0.005
                        allowed_locked_error_leaving: 0.1

                        strict_follow_radius_1:              1
                        strict_follow_radius_2:              1.5
                        strict_follow_x_offset:              -0.4
                        strict_follow_y_offset:              0.4
                        strict_follower_forward_speed:       0.5
                        strict_follower_y_to_yaw_speed_coef: 4

                </rosparam>
	</node>
</launch>
